:root{
    --azulDnc: #0C70F2;
    --pretoDnc: #303030;
    --cinzaHover: #CCCCCC;

    --fontePadrao: "Inter"; 
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background: linear-gradient(180deg, #0C70F280 19.91%, #303030 24.84%), #303030;
    background-repeat: no-repeat;
}

/*HEADER SITE*/

#navMenu{
    height: 100px;
    width: 100%;

    background-color: var(--pretoDnc);

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid #BABABA;
}

    #navMenu button{
        margin-right: 5%;
        background-color: var(--azulDnc);
        border: 0px;

        height: 40px;
        width: 80px;

        color: #FFFFFF;
        font-size: 20px;
        font-weight: 600;
        font-family: var(--fontePadrao);

        box-shadow: 3px 2px 4px #0c70f240;

        cursor: pointer;
    }

#linksMenu{
    display: flex;
    width: 45%;
    justify-content:space-around;

    margin-left: 5%;
}

.linkNav{
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 600;
    font-family: var(--fontePadrao);
    text-decoration: none;
}

    .linkNav:hover{
        color: var(--cinzaHover);
    }



/*SEÇÃO PRINCIPAL*/

#contentSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 100px;
    margin-bottom: 100px;
}
    #contentSection header{
        color: white;
        font-family: var(--fontePadrao);
    }
        #contentSection header h1{
            font-size: 80px;
            font-weight: 800;

            text-align: center;
        }

        .griff{
            background-color: black;
            font-weight: bold;
            padding: 5px;
        }

        #contentSection header h2{
            text-align: center;

            font-size: 40px;
            font-weight: 400;

            margin-bottom: 150px;
        }

/*FORMS*/

form{
    color: white;
    font-family: var(--fontePadrao);
    font-size: 30px;
    font-weight: 600;

    width: 600px;
}

    .formGroup{
        display: flex;
        flex-direction: column;

        margin-top: 10px;
        margin-bottom: 10px;
    }

    form input{
        border-radius: 10px;
        height: 30px;
        border: 0px;
        
        font-size: 20px;
        padding: 15px;
    }

    form input::placeholder{
        color: #39393980 50%;
    }

    form label{
        margin: 10px 0px 10px 0px;
    }


#checkboxItens {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

    #checkboxItens label{
        font-size: 25px;
    }

input[type="checkbox"]{
    transform: scale(1.7);
}
    
input[type="submit"]{
    background-color:#0C70F2E5;

    width: 100%;
    height: 64px;

    color: white;
    font-size: 32px;
    text-align: center;

    margin-top: 80px;
    box-shadow: 0px 6px 4px #0C70F240;
    
    cursor: pointer;
}

/* Footer */

footer{
    width: 100%;
    background-color: var(--azulDnc);
}

footer #line1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

footer nav{
    display: flex;
    flex-direction: column;

    align-items: center;

    height: 500px;
}

footer h5{
    text-align: center;
    color: white;
    font-family: var(--fontePadrao);
    font-weight: 800;
    font-size: 25px;

    margin: 30px;

    background-color: var(--pretoDnc);
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
    margin-bottom: 15px;
}

footer ul li{
    text-align: center;
    color: white;
    font-family: var(--fontePadrao);
    font-weight: 600;
    font-size: 25px;

    margin: 30px 0px 30px 0px;
}

    footer ul li a{
        color: white;
        text-decoration: none;


    }

        footer ul li a:hover{
            color: var(--cinzaHover);
        }

footer #adress{
    text-align: center;
    color: white;
    font-family: var(--fontePadrao);
    font-weight: 800;
    font-size: 25px;
    width: 28%;
}

footer #line2{
    height: 50px;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 10px;
}

    footer #line2 a{
        font-family: var(--fontePadrao);
        font-size: 25px;
        font-weight: 600;
        color: white;
        text-decoration: none;
        padding: 5px;
    }

        footer #line2 a:first-child{
            border-right: 3px solid white;
        }

        footer #line2 a:hover{
            color: var(--cinzaHover);
        }

/* MEDIA QUERRY */

@media only screen and (max-width: 600px){

    /* HEADER */
    #navMenu{
        flex-direction: column;
        height: auto;

        align-items: center;

        text-align: center;
    }    
        
    #linksMenu{
        flex-direction: column;
        width: 100%;
        margin: 0px;
    }

        #linksMenu a{
            height: 30px;

            font-size: 20px;
        }

    #navMenu button{
        width: 25%;
        margin: 0px 0px 5px 0px;

        font-size: 20px;
    }

    /* SECTION */
    #contentSection header h1{
        font-size: 40px;
    }

    #contentSection header h2{
        font-size: 20px;
    }

    /* FORMS */
    form{
        width: 95%;
        font-size: 15px;
    }

    #checkboxItens label{
        font-size: 15px;
    }

    /* FOOTER */
    footer #line1{
        flex-direction: column;
    }

    footer nav{
        height: 450px;
    }

    footer #adress{
        font-size: 15px;
        width: 95%;
        margin-bottom: 20px;
    }

    footer #line2{
        height: 30px;
    }

        footer #line2 a{
            font-size: 15px;
        }
}