:root{
    --azulDnc: #0C70F2;
    --pretoDnc: #303030;
    --cinzaHover: #CCCCCC;

    --fontePadrao: "Inter"; 
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background: linear-gradient(180deg, #0C70F280 19.91%, #303030 24.84%), #303030;
    background-repeat: no-repeat;
}

/*HEADER SITE*/

#navMenu{
    height: 100px;
    width: 100%;

    background-color: var(--pretoDnc);

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid #BABABA;
}

    #navMenu button{
        margin-right: 5%;
        background-color: var(--azulDnc);
        border: 0px;

        height: 40px;
        width: 80px;

        color: #FFFFFF;
        font-size: 20px;
        font-weight: 600;
        font-family: var(--fontePadrao);

        box-shadow: 3px 2px 4px #0c70f240;

        cursor: pointer;
    }

#linksMenu{
    display: flex;
    width: 45%;
    justify-content:space-around;

    margin-left: 5%;
}

.linkNav{
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 600;
    font-family: var(--fontePadrao);
    text-decoration: none;
}

    .linkNav:hover{
        color: var(--cinzaHover);
    }



/*SEÇÃO PRINCIPAL*/

#contentSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 100px;
    margin-bottom: 100px;
}
    #contentSection header{
        color: white;
        font-family: var(--fontePadrao);
    }
        #contentSection header h1{
            font-size: 80px;
            font-weight: 800;

            text-align: center;
        }

        .griff{
            background-color: black;
            font-weight: bold;
            padding: 5px;
        }

        #contentSection header h2{
            text-align: center;

            font-size: 40px;
            font-weight: 400;

            margin-bottom: 100px;
        }